Package: com.cooper.livedelight
Name: LiveDelight
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Skitty's LiveSafari, but with my Delight theme
Maintainer: mac-user669
Author: mac-user669
Section: Tweaks
